*{
    margin: 10 px;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.jumbotron {
    background-color: #487A6C;
    color: white;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    margin: 10px auto;
}

.display-5 {
    text-align: center;
}

.welcome {
    font-size: 25px;
    text-align: center;
}

.card {
    max-width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.buttonGroup1 {
    display: flex;
    padding: 15px;
    gap: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.buttonGroup2 {
    display: flex;
    gap: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.linkButtons button {
    background-color: #487A6C;
    color: white;
    border: none;
    padding: 40px 20px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 100%;
  }
  
  .linkButtons button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

.iosHeader{
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
}

.mainNavigationMenu{
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
}

.unreadNotifications {
  font-size: 25px;
  text-align: center;
}

.exisitingAlerts {
  font-size: 25px;
  text-align: center;
  display: block;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.exisitingAlertsImage{
  font-size: 25px;
  text-align: center;
  display: block;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.returnToHome {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
  color: white;
  background-color: #487A6C;
}