*{
    margin: 10 px;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*Headers*/
.jumbotron {
    background-color: #487A6C;
    color: white;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    margin: 10px auto;
}

/*Header in jumbotron*/
.display-5 {
    text-align: center;
}

/*Welcome Felin Kale screen*/
.welcome {
    font-size: 25px;
    text-align: center;
}

/*School news*/
.card {
    max-width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Homepage buttons - 1st row*/
.buttonGroup1 {
    display: flex;
    padding: 15px;
    gap: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/*Homepage buttons - 2nd row*/
.buttonGroup2 {
    display: flex;
    gap: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/*Homepage buttons styling*/
.linkButtons button {
    background-color: #487A6C;
    color: white;
    border: none;
    padding: 40px 20px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 100%;
  }
  
  /*Homepage buttons interaction*/
  .linkButtons button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

.iosHeader{
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
}

.mainNavigationMenu{
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
}

.unreadNotifications {
  font-size: 25px;
  text-align: center;
}

.exisitingAlerts {
  font-size: 25px;
  text-align: center;
  display: block;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.exisitingAlertsImage{
  font-size: 25px;
  text-align: center;
  display: block;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.returnToHome {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
  color: white;
  background-color: #487A6C;
}

.createNew{
  text-align: center;
}

.returnToEdit{
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-around;
  margin: 10px auto;
  color: black;
  background-color: #BDCFCA;
}

.alertCard{
    max-width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #BDCFCA;
}

.altBold{
  font-weight: bold;
}

.groupAlert{
  display: block;
  align-items: center;
  width: 60%;
  padding: 10px 24px;
  margin-left: 75px;
}

.bottomButtons{
margin-top: 30px;
margin-bottom: 30px;
}

.confirmationText{
  text-align: center;
  font-weight: bold;
}

.btn-groupAlert{
  margin-bottom: 28px;
  align-items: center;
}

.confirmationText{
  margin-top: 80px;
  margin-bottom: 80px;
}